
@{
    ViewBag.Title = "Account";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách người dùng</h1>
    <div class="card mb-4 w-100">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModalAdd">
                    Thêm mới
                </button>
                @using (Html.BeginForm("Index", "Account", FormMethod.Get,
                    new { @class = "form d-flex align-items-center justify-content-center gap-2" }))
                {
                    @*@Html.Label("Search", new { @class = "mr-1" })*@
                    @Html.TextBox("phoneNumberOrEmail", ViewBag.Search as string, new {id = "phoneNumberOrEmail", @class = "form-control", placeholder = "phone number or email" })
                    <button type="submit" class="btn btn-success">Search</button>
                }
            </div>

            <!-- Modal Add-->
            <div class="modal fade" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabelll">Thêm mới</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("AddUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="row">
                                    <div class="col-6">
                                        <label for="addname"
                                               class="col-form-label">First name:</label>
                                        <input type="text" class="form-control"
                                               id="addname" name="firstName" required>
                                        <label for="addname"
                                               class="col-form-label">Last name:</label>
                                        <input type="text" class="form-control"
                                               id="addname" name="lastName" required />
                                    </div>
                                    <div class="col-6">
                                        <label for="addcost"
                                               class="col-form-label">Email:</label>
                                        <input type="email" class="form-control"
                                               id="addcost" name="email" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="addname"
                                               class="col-form-label">Số điện thoại:</label>
                                        <input type="text" class="form-control"
                                               id="addname" name="phoneNumber" required>
                                    </div>
                                    <div class="col-6">
                                        <label for="addcost"
                                               class="col-form-label">Địa chỉ:</label>
                                        <input type="text" class="form-control"
                                               id="addcost" name="address" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="addname"
                                               class="col-form-label">Tài khoản:</label>
                                        <input type="text" class="form-control"
                                               id="addname" name="userName" required>
                                    </div>
                                    <div class="col-6">
                                        <label for="addcost"
                                               class="col-form-label">Mật khẩu:</label>
                                        <input type="password" class="form-control"
                                               id="addcost" name="password" required>
                                    </div>
                                    <div class="col-6">
                                        <label for="ct_id" class="col-form-label">Vai trò:</label>
                                        <select class="form-control" id="ct_id" name="idRole" required>
                                            <option value="" selected>Chọn loại vai trò</option>
                                            @foreach (var item in (SelectList)ViewBag.Roles)
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-primary">Thêm </button>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal Add-->
        </div>

        <div class="card-header d-flex flex-row gap-2">
            <label for="ct_id" class="col-form-label">entries per page</label>
            <select class="form-control col-2" name="pageCount" id="pageCountSelection" style="width:50px">
                @foreach (var item in (SelectList)ViewBag.PageNumberSelections)
                {
                    <option value="@item.Value" @(item.Value == ((int)ViewBag.PageCount).ToString() ? "selected" : "")>@(item.Text)</option>
                }
            </select>
            <script>
                document.getElementById("pageCountSelection")
                    .addEventListener("change", function () {
                        const searchControl = document.getElementById("phoneNumberOrEmail");
                        const searchValue = searchControl.value;

                        const pageCount = this.value;
                        if (pageCount)
                            window.location.href = `/account/index?sortColumn=@ViewBag.SortColumn&pageCount=${pageCount}&phoneNumberOrEmail=${searchValue}&iconClass=@ViewBag.IconClass`;
                    })
            </script>
        </div>

        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    @*style="background-color: gray !important;"*@
                    <tr style="background-color: gray !important;">
                        <th style="width:15%">
                            @if (ViewBag.IconClass == Assignment1.Extensions.ViewExtensions.FaSortDesc)
                            {
                                <a href="/account/index?sortColumn=FullName&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortAsc">Họ tên</a>
                                if (ViewBag.SortColumn == "FullName")
                                {
                                    <i class="fa @ViewBag.IconClass"></i>
                                }
                            }
                            else
                            {
                                <a href="/account/index?sortColumn=FullName&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortDesc">Họ tên</a>
                                if (ViewBag.SortColumn == "FullName")
                                {
                                    <i class="fa @ViewBag.IconClass" style="color:red"></i>
                                }
                            }
                        </th>
                        <th style="width:18%">
                            @if (ViewBag.IconClass == Assignment1.Extensions.ViewExtensions.FaSortDesc)
                            {
                                <a href="/account/index?sortColumn=Email&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortAsc">Email</a>
                                if (ViewBag.SortColumn == "Email")
                                {
                                    <i class="fa @ViewBag.IconClass"></i>
                                }
                            }
                            else
                            {
                                <a href="/account/index?sortColumn=Email&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortDesc">Email</a>
                                if (ViewBag.SortColumn == "Email")
                                {
                                    <i class="fa @ViewBag.IconClass" style="color:red"></i>
                                }
                            }
                        </th>
                        <th style="width:12%">
                            @if (ViewBag.IconClass == Assignment1.Extensions.ViewExtensions.FaSortDesc)
                            {
                                <a href="/account/index?sortColumn=PhoneNumber&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortAsc">Số điện thoại</a>
                                if (ViewBag.SortColumn == "PhoneNumber")
                                {
                                    <i class="fa @ViewBag.IconClass"></i>
                                }
                            }
                            else
                            {
                                <a href="/account/index?sortColumn=PhoneNumber&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortDesc">Số điện thoại</a>
                                if (ViewBag.SortColumn == "PhoneNumber")
                                {
                                    <i class="fa @ViewBag.IconClass" style="color:red"></i>
                                }
                            }
                        </th>
                        <!--                <th>Địa chỉ</th>-->
                        <th style="width:10%">
                            @if (ViewBag.IconClass == Assignment1.Extensions.ViewExtensions.FaSortDesc)
                            {
                                <a href="/account/index?sortColumn=UserName&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortAsc">Tài khoản</a>
                                if (ViewBag.SortColumn == "UserName")
                                {
                                    <i class="fa @ViewBag.IconClass"></i>
                                }
                            }
                            else
                            {
                                <a href="/account/index?sortColumn=UserName&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortDesc">Tài khoản</a>
                                if (ViewBag.SortColumn == "UserName")
                                {
                                    <i class="fa @ViewBag.IconClass" style="color:red"></i>
                                }
                            }
                        </th>
                        <th style="width:12%">
                            @if (ViewBag.IconClass == Assignment1.Extensions.ViewExtensions.FaSortDesc)
                            {
                                <a href="/account/index?sortColumn=Roles&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortAsc">Vai trò</a>
                                if (ViewBag.SortColumn == "Roles")
                                {
                                    <i class="fa @ViewBag.IconClass"></i>
                                }
                            }
                            else
                            {
                                <a href="/account/index?sortColumn=Roles&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortDesc">Vai trò</a>
                                if (ViewBag.SortColumn == "Roles")
                                {
                                    <i class="fa @ViewBag.IconClass" style="color:red"></i>
                                }
                            }
                        </th>
                        <th style="width:10%">
                            @if (ViewBag.IconClass == Assignment1.Extensions.ViewExtensions.FaSortDesc)
                            {
                                <a href="/account/index?sortColumn=Active&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortAsc">Trạng thái</a>
                                if (ViewBag.SortColumn == "Active")
                                {
                                    <i class="fa @ViewBag.IconClass"></i>
                                }
                            }
                            else
                            {
                                <a href="/account/index?sortColumn=Active&pageCount=@ViewBag.PageCount&iconClass=@Assignment1.Extensions.ViewExtensions.FaSortDesc">Trạng thái</a>
                                if (ViewBag.SortColumn == "Active")
                                {
                                    <i class="fa @ViewBag.IconClass" style="color:red"></i>
                                }
                            }

                        </th>
                        <th style="width:auto">Hành động</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var user in (IEnumerable<Assignment1.ViewModel.AccountUsersVM>)ViewBag.Users)
                    {
                        <tr>
                            <td>@user.FullName</td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.UserName</td>
                            <td>@user.Role</td>
                            <td>
                                @if (user.Active)
                                {
                                    <p style="color: #1c7430;font-weight: bold">Hoạt động</p>
                                }
                                else
                                {
                                    <p style="color: red;font-weight: bold">Đã khóa</p>
                                }
                            </td>
                            <td style="width : 270px; flex-wrap:wrap" class="d-flex gap-1">
                                <button type="button" style="width: 80px" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#idModelMail@(user.UserId)">
                                    Gửi
                                </button>
                                <button type="button" style="width: 80px" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#idModelDetail@(user.UserId)">
                                    Chi tiết
                                </button>
                                @if (user.Role == Donation.IdentityServices.Roles.ADMIN)
                                {
                                    if (user.UserId == ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(c => c.Type == System.IdentityModel.Claims.ClaimTypes.Sid).Value)
                                    {
                                        <button type="button" style="width: 80px" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal@(user.UserId)">
                                            Sửa
                                        </button>
                                        <button type="button" style="width: 80px" class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#idModelDel@(user.UserId)">
                                            Xóa
                                        </button>
                                        if (user.Active)
                                        {
                                            using (Html.BeginForm("Lock", "Account", FormMethod.Post, new { style = "" }))
                                            {
                                                <input type="hidden" class="form-control" id="id" name="idUser" value="@user.UserId">
                                                <button type="submit" style="width: 80px" class="btn btn-danger">
                                                    Khóa
                                                </button>
                                            }
                                        }
                                        else
                                        {
                                            using (Html.BeginForm("UnLock", "Account", FormMethod.Post, new { style = "" }))
                                            {
                                                <input type="hidden" class="form-control" id="id" name="idUser" value="@user.UserId">
                                                <button type="submit" style="width: 80px" class="btn btn-success">
                                                    Mở
                                                </button>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <button type="button" style="width: 80px" class="btn btn-primary" data-bs-toggle="modal" disabled
                                                data-bs-target="#exampleModal@(user.UserId)">
                                            Sửa
                                        </button>
                                        <button type="button" style="width: 80px" class="btn btn-danger" data-bs-toggle="modal" disabled
                                                data-bs-target="#idModelDel@(user.UserId)">
                                            Xóa
                                        </button>
                                        if (user.Active)
                                        {
                                            using (Html.BeginForm("Lock", "Account", FormMethod.Post, new { style = "" }))
                                            {
                                                <input type="hidden" class="form-control" id="id" name="idUser" value="@user.UserId">
                                                <button type="submit" style="width: 80px" class="btn btn-danger" disabled>
                                                    Khóa
                                                </button>
                                            }
                                        }
                                        else
                                        {
                                            using (Html.BeginForm("UnLock", "Account", FormMethod.Post, new { style = "" }))
                                            {
                                                <input type="hidden" class="form-control" id="id" name="idUser" value="@user.UserId">
                                                <button type="submit" style="width: 80px" class="btn btn-success" disabled>
                                                    Mở
                                                </button>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <button type="button" style="width: 80px" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal@(user.UserId)">
                                        Sửa
                                    </button>
                                    <button type="button" style="width: 80px" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#idModelDel@(user.UserId)">
                                        Xóa
                                    </button>
                                    if (user.Active)
                                    {
                                        using (Html.BeginForm("Lock", "Account", FormMethod.Post, new { style = "" }))
                                        {
                                            <input type="hidden" class="form-control" id="id" name="idUser" value="@user.UserId">
                                            <button type="submit" style="width: 80px" class="btn btn-danger">
                                                Khóa
                                            </button>
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("UnLock", "Account", FormMethod.Post, new { style = "" }))
                                        {
                                            <input type="hidden" class="form-control" id="id" name="idUser" value="@user.UserId">
                                            <button type="submit" style="width: 80px" class="btn btn-success">
                                                Mở
                                            </button>
                                        }
                                    }
                                }

                                <div class="modal fade" id="idModelDel@(user.UserId)" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa ?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Người dùng : <span>@(user.UserName)</span>
                                                @using (Html.BeginForm("delete", "Account", FormMethod.Post))
                                                {
                                                    <input type="hidden" class="form-control" id="id" name="idUser" value="@(user.UserId)">
                                                    <div class="modal-footer" style="margin-top: 20px">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">Xóa</button>
                                                    </div>
                                                }
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="idModelMail@(user.UserId)" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Gửi đến: <span>@(user.Email)</span></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                @using (Html.BeginForm("sendMail", "Account", FormMethod.Post))
                                                {
                                                    <input type="hidden" class="form-control" id="id" name="idUser" value="@(user.UserId)">
                                                    <label for="addname"
                                                           class="col-form-label">Nội dung:</label>
                                                    <textarea rows="10" class="form-control" id="addname" name="note"></textarea>
                                                    <div class="modal-footer" style="margin-top: 20px">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                        <button type="submit" class="btn btn-success">Gửi</button>

                                                    </div>
                                                }
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="idModelDetail@(user.UserId)" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Chi tiết : <span>@(user.FullName)</span></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5>Họ tên :</h5> <p>@(user.FullName)</p>
                                                        <h5>Email:</h5> <p>@(user.Email)</p>
                                                        <h5>Số điện thoại:</h5> <p>@(user.PhoneNumber)</p>
                                                        <h5>Tài khoản:</h5> <p>@(user.UserName)</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <h5>Địa chỉ :</h5> <p>@(user.Address)</p>
                                                        <h5>Vai trò:</h5> <p>@(user.Role)</p>
                                                        @*<h5>Lần đăng nhập gần nhất:</h5> <p th:text="${user.createdAt}"></p>*@
                                                        <h5>Note:</h5> <p>@(user.Notes)</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>


                            <!-- Modal Update-->
                            <div class="modal fade" id="exampleModal@(user.UserId)" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabell">Cập nhật</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @using (Html.BeginForm("update", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                                <input type="hidden" name="id">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label for="addname"
                                                               class="col-form-label">Họ và tên:</label>
                                                        <input type="text" class="form-control" @(User.IsInRole(Donation.IdentityServices.Roles.ADMIN) && user.UserId != ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(c => c.Type == System.IdentityModel.Claims.ClaimTypes.Sid).Value ? "readonly" : "")
                                                               id="addname" name="fullName" required value="@user.FullName">
                                                        <input type="text" name="firstName" value="@user.FirstName" hidden />
                                                        <input type="text" name="lastName" value="@user.LastName" hidden />
                                                    </div>
                                                    <div class="col-6">
                                                        <label for="addcost"
                                                               class="col-form-label">Email:</label>
                                                        <input type="email" class="form-control"
                                                               id="addcost" name="email" required value="@(user.Email)" readonly>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label for="addname"
                                                               class="col-form-label">Số điện thoại:</label>
                                                        <input type="text" class="form-control"
                                                               id="addname" name="phoneNumber" required @(User.IsInRole(Donation.IdentityServices.Roles.ADMIN) && user.UserId != ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(c => c.Type == System.IdentityModel.Claims.ClaimTypes.Sid).Value ? "readonly" : "")
                                                               value="@(user.PhoneNumber)">
                                                    </div>
                                                    <div class="col-6">
                                                        <label for="addcost"
                                                               class="col-form-label">Địa chỉ:</label>
                                                        <input type="text" class="form-control"
                                                               id="addcost" name="address" required @(User.IsInRole(Donation.IdentityServices.Roles.ADMIN) && user.UserId != ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(c => c.Type == System.IdentityModel.Claims.ClaimTypes.Sid).Value ? "readonly" : "")
                                                               value="@(user.Address)">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label for="addname"
                                                               class="col-form-label">Tài khoản:</label>
                                                        <input readonly type="text" class="form-control"
                                                               id="addname" name="userName" required value="@(user.UserName)">
                                                        <input readonly type="hidden" class="form-control"
                                                               id="addname" name="idUser" required value="@(user.UserId)">
                                                        @*<input readonly type="hidden" class="form-control"
                                                            id="addname" name="password" required>*@
                                                        @*<input readonly type="hidden" class="form-control"
                                                            id="addname" name="status" required value="@(user.Notes)">*@
                                                    </div>
                                                    <div class="col-6">
                                                        <label for="ct_id" class="col-form-label">Vai trò:</label>
                                                        <select class="form-control" id="ct_id" name="idRole" required>
                                                            @foreach (var item in (SelectList)ViewBag.Roles)
                                                            {
                                                                <option value="@item.Value" @(user.Role == item.Text ? "selected" : "")
                                                                        @( (user.Role != item.Text && User.IsInRole(Donation.IdentityServices.Roles.ADMIN) ? "" : "disable") )>
                                                                    @item.Text
                                                                </option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                    <button type="submit" class="btn btn-primary">Lưu </button>
                                                </div>

                                                @Html.ValidationSummary()
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal Update-->
                        </tr>
                    }
                    <tr>
                        <td colspan="9">
                            <ul class="pagination justify-content-center">
                                @for (int i = 0; i < ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item @(ViewBag.PageNumber == i+1 ? "active" : "")">
                                        <a class="page-link" href="/account/index?sortColumn=@ViewBag.SortColumn&pageCount=@ViewBag.PageCount&phoneNumberOrEmail=@ViewBag.Search&iconClass=@ViewBag.IconClass&pageNumber=@(i+1)">@(i+1)</a>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>